:not(:defined) > * {
  display: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

model-viewer {
  height: 60vh;
  background-color: #000000;
  grid-column: 1/-1;
  width: 100%;
  margin: auto;
}

.Hotspot {
  background: url(../img/hotspot-svgrepo-com.svg) center no-repeat;
  border: 0px;
  width: 55px;
  height: 50px;
  display: none;
  transition: all 1s ease-in-out;
}

.Hotspot:not([data-visible]) {
  background: transparent;
  border: 4px solid #fff;
  box-shadow: none;
  height: 32px;
  pointer-events: none;
  width: 32px;
}

.Hotspot:focus {
  border: 4px solid rgb(0, 128, 200);
  height: 32px;
  outline: none;
  width: 32px;
}

.Hotspot > * {
  opacity: 1;
  transform: translateY(-50%);
}

.HotspotAnnotation {
  background: rgb(244, 244, 244);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(71, 158, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 10px;
  font-weight: 500;
  left: calc(100% + 1em);
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: -moz-max-content;
  width: max-content;
}

.HotspotAnnotation h2 {
  font-size: large;
  font-weight: 700;
}

.HotspotAnnotation p {
  font-weight: 400;
  font-size: medium;
}

.Hotspot:not([data-visible]) > * {
  opacity: 0;
  pointer-events: none;
  transform: translateY(calc(-50% + 4px));
  transition: transform 0.3s, opacity 0.3s;
}

.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

#ar-button {
  background-image: url(img/ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #dadce0;
}

#ar-button:active {
  background-color: #e8eaed;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}
@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}
model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status=session-started] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

@media screen and (min-width: 730px) {
  model-viewer {
    height: 90vh;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  background-color: #000000;
  padding: 1rem;
  position: relative;
  z-index: 10;
}
.header .logo {
  grid-column: 1/span 3;
  color: rgb(0, 255, 60);
  font-size: 1.5em;
  font-weight: bold;
}
.header .hamburger {
  display: none;
  grid-column: 12;
  justify-self: end;
  cursor: pointer;
}
.header .hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: rgb(0, 255, 60);
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
.header .navbar {
  grid-column: 4/-1;
  justify-self: end;
}
.header .navbar .nav-list {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  align-items: center;
  list-style-type: none;
}
.header .navbar .nav-list .nav-item {
  color: rgb(0, 255, 60);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s, transform 0.3s;
}
.header .navbar .nav-list .nav-item:hover {
  color: #ffffff;
  transform: translateY(-2px);
}
.header .navbar-mobile {
  display: none;
  grid-column: 1/-1;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.header .navbar-mobile .nav-item {
  color: rgb(0, 255, 60);
  text-decoration: none;
  padding: 0.75rem 1rem;
  display: block;
  transition: background-color 0.3s;
}
.header .navbar-mobile .nav-item:hover {
  background-color: #ffffff;
  color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
  .header .hamburger {
    display: block;
  }
  .header .navbar,
  .header .navbar-mobile {
    grid-column: 1/-1;
  }
}
.hamburger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navbar-mobile.active {
  display: block;
}

.product-image img {
  grid-column: 1/-1;
  width: 100%;
}

.product-image p {
  grid-column: 1/-1;
  width: 100%;
  color: white;
  padding: 10px;
}

.product-info {
  margin-top: 40px;
  margin-bottom: 40px;
}

h2 {
  align-items: center;
  text-align: center;
  color: white;
  margin: 30px;
}

footer {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
}

#navbar a.active {
  background-color: #4CAF50;
  color: aliceblue;
}

@media screen and (max-width: 600px) {
  #navbar a:not(:first-child) {
    display: none;
  }
  #navbar a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  #navbar.responsive {
    position: relative;
  }
  #navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  #navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
body {
  margin: auto;
  max-width: 1200px;
}/*# sourceMappingURL=main.css.map */